<!doctype html>
<html lang="en" >

  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href='src/css/style.css' rel='stylesheet' type='text/css'>

    <script src="settings.js"></script>
  </head>

  <body ng-app="drivein">
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

    body{
      height: 100%;
      margin: 0;
      padding:0;
    }
    </style>
    
    <!-- layout ctrl handle google api stuff -->
    <div id="drive-starter" ng-cloak ng-controller="starterCtrl">
      <div id="layout" ng-cloak ng-controller="layoutCtrl">

        <aside>
          <h1>{{title}}</h1>
          <ul>
            <li class="{{path == ''? 'selected': ''}}" ><a ng-href="#/{{fileId}}">index</a></li>
            <li ng-repeat="folder in folders" class="{{path == folder.slug? 'selected': ''}}">
              <a ng-href="#/{{fileId}}/{{folder.slug}}">{{folder.title}}</a>
            </li>
            <li>&nbsp;</li>
            <li class="{{path == 'references'? 'selected': ''}}"  ng-if="bibliography"><a ng-href="#/{{fileId}}/d/references">references</a></li>
            <li class="{{path == 'about'? 'selected': ''}}"  ng-if="metadata"><a ng-href="#/{{fileId}}/d/about">about</a></li>
          </ul>
        </aside>

        <nav id="sections">
              <h1>{{metadata.title}}</h1>
              <!-- ul>
                <li ng-repeat="doc in docs">
                  {{doc.title}}
                </li>
              </ul -->
            </nav>
            
        <div id="wrapper">
          <div class="inner">
            

            <div id="login" ng-if="app_status == 'APP_STATUS_AUTHORIZATION_REQUIRED'">
              <h2>login with your google account</h2>
              <p>
                Note that if the google drive-folder specified
              it is not "public" it should be shared with your google account!
              </p>
              <button class="btn btn-primary" ng-click="authorize()">authorize drive-in

              </button>
              
            </div>
            <div class="page" ng-view>
            </div>
            
          </div>
        </div> <!-- cfr app.js and templates are under src/views -->
      
      </div>
    </div>
    <!-- eof #drive-starter -->

    <!-- cdn resources -->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
    <!--

        bibtext/markdown interpreters
        =============================
    -->
    <script src="src/js/libs/bibtex.js"></script>
    <script src="src/js/libs/showdown.min.js"></script>
    <script src="src/js/libs/showdown-twitter.min.js"></script>
    <script src="src/js/libs/showdown-vimeo.js"></script>



    <!--

        angular libraries
        ==================
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular-route.min.js"></script>
    <!-- script src="src/js/libs/angular.min.js"></script>
    <script src="src/js/libs/angular-route.min.js"></script -->



    <!--

          angular app
          ===========
    -->
    <script src="src/js/app.js"></script>
    <script src="src/js/controllers/starter.js"></script>
    <script src="src/js/controllers/layout.js"></script>
    <script src="src/js/controllers/index.js"></script>
    <script src="src/js/controllers/page.js"></script>
    <script src="src/js/directives/gdoc.js"></script>
        



    <!--

          big init
          ========
    -->
    <script>
    /*
      Onload fnctio called after google drive api initialization (it takes more than one may expects)
    */
    function load() {
      console.log('google drive loaded.');
      var scope = angular.element($("#drive-starter")).scope(); // cfr StarterCtrl in controllers.js
      scope.$emit('GOOGLE_CLIENT_INITIALIZED', settings);
    }
    </script>
    <script src="https://apis.google.com/js/client.js?onload=load"></script>

  </body>
</html>