<div id="page" ng-if="metadata">
  <h2>
  About
  </h2>
    <table>
        <tr ng-repeat="key in metadata.keys">
            <td class="about-key">
                {{key}}
            </td>
            <td class="about-value">
                 {{metadata.raw[key]}}
            </td>
        </tr>
    </table>
</div>
<div ng-if="!metadata && app_status=='APP_STATUS_READY'">... lacking metadata</div>
<div>
  <br />
  Powered by <a href="https://github.com/medialab/drive-in" target="_blank" rel="noopener">Drive-In</a>,
  developed by <a href="http://forccast.hypotheses.org" target="_blank" rel="noopener">Forccast</a> |
  <a href="http://medialab.sciences-po.fr" target="_blank" rel="noopener">Sciences po médialab</a>
  <br />
  <a href="http://forccast.hypotheses.org" target="_blank" rel="noopener" class="logo-forccast"></a>
  <a href="http://medialab.sciences-po.fr" target="_blank" rel="noopener" class="logo-medialab"></a>
</div>
