
<div id="page" ng-if="references.length">
  <h2>
  references
  </h2>

  <table>
      <tr ng-repeat="ref in references">
        <td>
            <span class="author">{{ref.Author}}</span>
        </td>
        <td>
            <i class="title">{{ref.Title}}</i> 
        </td>
        <td>
            <span class="publisher">{{ref.Publisher}}</span>
        </td>
        <td>
            <span class="publication_year">{{ref.Publication_Year}}</span> 
        </td>
      </tr>
  </table>
</div>
