<!-- div class="filename">{{file.title}}</div -->
          <a id="file-{{file.id}}"></a>
          <div ng-switch="file.type" class="file">
            <div ng-switch-when="image">
              <p></p>
              <img src="{{file.src}}">
              <div class="caption">{{file.title}}</div>
            </div>
            <div ng-switch-when="PDF">  
              <!-- img src="{{file.src}}" this is the file preview...-->
              <a target="_blank" href="https://docs.google.com/file/d/0ByZTyEnzm9qqbWRTcE9sSmZkeTA">view file online</a>
            </div>
           
            <div ng-switch-when="Document">
              <h2 class="filename">{{file.title}}</h2>
              <div lazy-file file="file"></div>
            </div>

            <div ng-switch-when="Spreadsheet">
              <a target="_blank" href="https://docs.google.com/spreadsheets/d/{{file.id}}">view spreadsheet online<!-- img src="{{file.src}}" --></a> 
            </div>
          </div>  