body {
  font: 13px/20px 'Open sans', sans-serif;
  color: #1d1d1d;

}

*{
  padding: 0;
  margin: 0;
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


a{
  color: crimson;
}

a:hover{
  color:tomato;
}


aside{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 230px;
  overflow: auto;
  height: auto;
}

aside h1{
  margin: 15px 30px 30px 30px;
  /*background-color: #1d1d1d;*/
  display: inline-block;
  /*color: white;*/
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 10px;
}

h1,h2,h3,h4,h5{
  font-weight: normal;
}

aside ul{
  margin: 0 30px;
}

aside li{
  margin: 10px;
}

aside li a{
  display: inline-block;
  cursor: pointer;

}

aside li.selected a{
  color: #1d1d1d;
  text-decoration: underline;
}

nav{
  position: fixed;
  border-bottom: 1px solid #d1d1d1;
  height: 70px;
  top: 0;
  left: 230px;
  right: 50px;
  max-width: 750px;
  background: #fff;
  z-index: 1;
}

nav h1{
  line-height: 30px;
  font-size: 15px;
  margin: 15px 0 0 20px;
  color: #999;
}

#menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

#sections h1 {
  font-size: 30px;
  font-weight: bold;
}

#login h2, #page h2{
  margin: 100px 0 25px 0;
  font-size: 24px;
line-height: 35px;
}

#wrapper{
  width: 100%;
  margin: 0;
  marx-width: 640px;
}

#wrapper>.inner{
  margin: 0 50px 0 250px;

}

.gdoc{
  margin: 80px 0 20px 0px;
  max-width: 710px;
  overflow: hidden;
}

.gdoc iframe{
  margin: 20px 0;
}

.gdoc .image{
  margin: 20px 0;
  padding: 10px;
  background: #f5f5f5;
}

.gdoc .image img{
  max-width: 100%;
}

.gdoc .image .caption{
  padding: 10px;
}

.gdoc .image .reference{
  font-size: 11px;
  line-height: 18px;
  padding: 0 10px 10px 10px;
}

.gdoc h1 {
  font-size: 20px;
}

.gdoc h2 {
  font-size: 18px;
}

.gdoc h3 {
  font-size: 15px;
}

/*
  According to new specs, h4 in the GDoc becomes a quote.
  See https://trello.com/c/CbANinS5 for details.
*/
.gdoc h4, .gdoc blockquote {
  font-size: 13px;
  line-height: 19px;
  font-style: italic;
  border-left: 2px solid #AAA;
  padding-left: 20px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.gdoc .title {
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 25px;
}

.gdoc .title, .gdoc .subtitle, .gdoc .contents{
  margin-right: 170px;
}

.gdoc .subtitle{
  font-style: italic;
  margin-bottom: 20px;
}

.gdoc .title p, .gdoc .subtitle p, .gdoc .contents p{
  margin: 0;
}

.gdoc section{
  position: relative;
  min-height: 100px;
}

.gdoc section .summary{
  position: absolute;
  width: 150px;
  top:0;
  right: 0;
  text-align: right;
  font-size: 12px;
  line-height:18px;

}

.gdoc img{
  display: inline;
}

.about-key {
  font-style: italic;
}

.about-value {
  padding-left: 20px;
}

.sidenote {
  width: 160px;
  font-size: 10px;
  font-style: italic;
  line-height: 15px;
}

.logo-forccast {
  width: 342px;
  height: 54px;
  background: url(../img/logo-forccast.png) no-repeat -12px 0px;
  display: block;
}

.logo-medialab {
  width: 206px;
  height: 38px;
  background: url(../img/logo-medialab.png) no-repeat;
  display: block;
}
