body {
  font: 13px/20px 'Open sans', sans-serif;
  color: #1d1d1d;
  
}

*{
  padding: 0;
  margin: 0;
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside{
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  width: 230px;
  
}

aside h1{
  margin: 30px;
  /*background-color: #1d1d1d;*/
  display: inline-block;
  /*color: white;*/
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 10px;
}

a{
  color: crimson;
}

a:hover{
  color:tomato;
}

h1,h2,h3,h4,h5{
  font-weight: normal;
}

aside ul{
  margin: 0 30px;
}

aside li{
  margin: 10px;
}

aside li a{
  display: inline-block;
  cursor: pointer;

}

aside li.selected a{
  color: #1d1d1d;
  text-decoration: underline;
}

#login h2, #references h2{
  margin: 30px 0;
  font-size: 15px;
  line-height: 30px;

}

#wrapper{
  width: 100%;
  margin: 0;
  marx-width: 640px;
}

#wrapper>.inner{
  margin: 0 50px 0 250px;

}

.gdoc{
  margin: 80px 0 20px 0px;
  max-width: 710px;
  overflow: hidden;
}

.gdoc iframe{
  margin: 20px 0;
}

.gdoc h1, .gdoc h2, .gdoc h3, .gdoc h4, .gdoc h5, .gdoc h6{
  font-size: 15px;
}

.gdoc .title {
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 25px;
}

.gdoc .title, .gdoc .subtitle, .gdoc .contents{
  margin-right: 170px;
}

.gdoc .subtitle{
  font-style: italic;
  margin-bottom: 20px;
}

.gdoc .title p, .gdoc .subtitle p, .gdoc .contents p{
  margin: 0;
}

.gdoc section{
  position: relative;
  min-height: 100px;
}

.gdoc section .summary{
  position: absolute;
  width: 150px;
  top:0;
  right: 0;
  text-align: right;
  font-size: 12px;
  line-height:18px;

}

.gdoc img{
  display: inline;
}