body {
  font: 14px/1.4375 'Helvetica Neue', sans-serif;
  color: #555;
}

sidebar ul li.menu-item a {
  transition: color .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
}

sidebar ul li.menu-item:hover a{
  color: #cc1600;
}

sidebar ul li.menu-item.selected a{
  color: #181818;
}

label {
  display: block;
  margin-bottom: 0.4em;
}

input {
  width: 480px;
  font: 1em/1em 'Helvetica Neue', sans-serif;
  padding: 0.4em;
  border: 1px solid #ababab;
  transition: border-color .3s ease-in-out;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

input.ng-invalid-pattern {
  border-bottom: 1px solid red;
}

h1 {
  margin: 0;
  color: #000;
  font: 2rem/1.4375em 'Helvetica Neue';
  font-weight: normal;
}

h2 {
  margin: 0;
  font: 1rem/1.4375em 'Helvetica Neue';
  font-weight: normal;
}



#wrapper span, #wrapper img{
  max-width: 100%;
}

p {
  font: 1rem/1.4375rem georgia,"times new roman",times,serif;
  font-weight: normal;
  margin: 0 0 0.718em 0;
}

img{
  display: block;
}

.caption{
  padding: 10px;
  background: #f7f7f7;
}

h2.filename{ /* filetitles */
  color: #999;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 0 1.2em 0;
  margin: 0 0 1.4375em 0;
  font-weight: normal;
  font-size: 1em;
  /* text-align: center; */
  text-transform: lowercase;
  font-style: italic;
}

.file {
  margin-bottom: 1.4375em;
}

.file h1{
  color: #000;
  font: 1.4rem/1.4375em 'Helvetica Neue';
  font-weight: normal;
  margin: 0 0 0.718em 0;
}

.spacer{
  display:block;
  height: 60px;
}



/* thanks to http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 0px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}