body {
  font: 15px/25px 'Open sans', sans-serif;
  color: #1d1d1d;
  
}

*{
  padding: 0;
  margin: 0;
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside{
  position: fixed;
  top: 0;
  left:0;
  bottom: 0;
  width: 230px;
  
}

aside h1{
  margin: 30px;
  /*background-color: #1d1d1d;*/
  display: inline-block;
  /*color: white;*/
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  padding: 0 10px;
}

h1,h2,h3,h4,h5{
  font-size: 1em;
}

aside ul{
  margin: 0 30px;
}

aside li{
  margin: 10px;
}

aside li.selected a{
  background: #f5f5f5;
}

a{
  text-decoration: underline;
  color: crimson;
}

a:hover{
  color: crimson;
  /*border-bottom: 1px solid;*/
}


#wrapper{
  width: 100%;
  margin: 0;
}

#wrapper>.inner{
  margin: 0 50px 0 250px;

}

.gdoc{
  margin: 50px 0 20px 0px;
  overflow: hidden;
}

.gdoc h2{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
.gdoc h2, .gdoc .subtitle, .gdoc .contents{
  margin-right: 170px;
}

.gdoc .subtitle{
  font-style: italic;
  margin-bottom: 20px;
}

.gdoc section{
  position: relative;
  min-height: 100px;
}

.gdoc section .summary{
  position: absolute;
  width: 150px;
  top:0;
  right: 0;
  text-align: right;
  font-size: 12px;
  line-height:18px;

}

.gdoc img{
  display: inline;
}